/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ececec;
  font-family: 'Titillium Web', sans-serif;
}

.tierInfo {
  text-align: center;
  width: 100%;

}

.tierIcon {
  width: 100px;
}

.tierDivision {
  font-width: bold;
  margin-bottom: 0px;
}

.tierName {
  font-size: 12px;
  margin-bottom: 20px;
}

.tierWins {
  color: #00841c;
  margin-bottom: 0px;
}

.itemToolTip {
  background-color: darkblue;
  width: 300px;
  height: auto;
  opacity: 0.75;
  border-radius: 5px;
  border: 1px solid black;
}


.itemName {
  font-weight: bold;
  color: magenta;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.itemText {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.itemDescription {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}


.teamInfo {
  width: 125px;
  height: 115px;
  float: right;
  margin-top: -115px;
  margin-right: 140px;
  background-color: #ecebeb;
  border: 1px solid black;
  border-radius: 2px;
}

.enemyTeamInfo {
  width: 125px;
  height: 115px;
  float: right;
  margin-top: -115px;
  margin-right: 10px;
  background-color: #ecebeb;
  border: 1px solid black;
  border-radius: 2px;
}

.teamImage {
  width: 20px;
  display: inline;
}

.team {
  display: inline;
  margin-left: 5px;
}

.member {
  display: block;
  margin-left: 5px;
}
.main {
  margin-top: 25px;
}
.gameInfo {
  width: 100%;
  height: 130px;
  background-color: ;
  border: 1px solid black;
  margin-bottom: 5px;
}

.champImage {
  width: 80px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}


.championStats {
  height: 38px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #ffb732;
  border: 1px solid black;

}

.championStats:last-of-type  {
  display: none;
}


.stat {
  margin: 5px;
  padding: 5px;
  width: 100px;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  background-color: #ecebeb;

}

.kda {
  width: 50px;
}

.statImage {
  height: 32px;
  border-radius: 10px;
  margin-left: 3px;
}

.championInfo {
  width: 140px;
}

.summonerSpell {
  width: 35px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.gameType {
  font-size: 8px;
  margin-bottom: 0px;
}

.statInfo {
  margin-left: 10px; 
  width: 400px;
  font-size: 16px;
  display: inline-block;
}

.wardInfo {
  margin-top: 5px;
  margin-left: 2px;
}

.wardImage {
  width: 15px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.wardText {
  display: inline;
  margin: 5px;
}


.kill {
  color: #00841c;
}

.death {
  color: #c90707;
}

.assist {
  color: #00841c;
}

.cs {
  margin-left: 5px;
  color:  #520B6B;
}

.gold {
  margin-left: 5px;
  color:  #520B6B;
}

.level {
  margin-left: 5px;

}


.item {
  border-radius: 5px;
  width: 40px;
  margin: 1px;
}

.trinket {
  width: 35px;

}
.itemInfo {
  float: right;
  width: 185px;
  height: 100px;
  margin-top: -112px;
  margin-right: 350px; 
}

.goldInfo {
  float: left;
  margin-left: 345px;
  margin-top: -110px;

}

.inline {
  display: inline;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
