/* General styles */
* {
  margin: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ececec;
  font-family: 'Titillium Web', sans-serif;
}

html, body {
  height: 100%;
}

.main {
  margin-top: 25px;
}

.inline {
  display: inline;
}

.hideAtStart {
  display: none;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -150px;
}

.wrapper:after {
  content: "";
  display: block;
}


footer, .wrapper:after {
  height: 150px;
}

footer {
  text-align: center;
  width: 66%;
  margin: 0 auto;
}


/* League Styles */

.tiers {
   text-align: center;

}
.tierInfo {
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;

}

.tierIcon {
  width: 100px;
}

.tierDivision {
  font-width: bold;
  margin-bottom: 0px;
}

.tierName {
  font-size: 12px;
  margin-bottom: 20px;
}

.tierWins {
  color: #00841c;
  margin-bottom: 0px;
}

/* Item Tooltip Styles */

.itemToolTip {
  display: none;
  background-color: darkblue;
  width: 300px;
  height: auto;
  opacity: 0.9;
  border-radius: 5px;
  border: 1px solid black;
}


.itemName {
  font-weight: bold;
  color: magenta;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.itemText {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.itemDescription {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

/* Past 10 match history styles */

.gameSummary {
  text-align: center;
  background-color: #BDDFEB;
  margin-bottom: 5px;
  width: 100%;
  height: 45px;
  border: 1px solid black;
}

.summary {
  font-size: 16px;
  padding: 10px;
  float: left;
  padding-left: 30px;
}

#average {
  font-size: 16px;
  float: left;
  display: inline;
  background-color: #aac8d3;
  padding: 10px;
  border-right: 1px solid black;
}


/* Match History Styles */

.match {
  width: 100%;
  height: 140px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid black;
}

.championGameType {
  width: 80px;
  height: 120px;
  margin-right: 10px;
  float: left;
}

.championImage {
  width: 80px;
  height: 80px;
}

.gameType {
  font-size: 8px;
}

.testKDA {
  font-size: 16px;

}

.summonerSpells {
  width: 35px;
  height: 120px;
  margin-right: 10px;
  float: left;
}

.spell {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.itemsContainer {
  margin-left: -2px;
  margin-top: -2px;
  margin-right: 10px;
  height: 120px;
  width: 190px;
  float: left;
}

.item {
  border-radius: 5px;
  margin: 2px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.mainItems {
  width: 140px;
  height: 94px;
  float: left;
}

.trinketItem {
  width: 50px;
  height: 50px;
  margin-top: 22px;
  float: left;
}

.trinket {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  float: left;
}

.wardInfo {
  width: 140px;
  height: 26px;
  float: left;
}

.wardImage {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 4px;
  float: left;
  border-radius: 5px;
}

.wardText {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}

.goldInfo {
  float: left;
  width: 80px;
  margin-right: 15px;
}

.cs {
  color:  #520B6B;
}

.gold {
  color:  #520B6B;
}

.date {
  font-size: 12px;
}

.enemyTeamInfo {
  width: 120px;
  height: 120px;
  float: left;
  background-color: #ecebeb;
  border: 1px solid black;
  border-radius: 2px;
}

.teamInfo {
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 10px;
  background-color: #ecebeb;
  border: 1px solid black;
  border-radius: 2px;
}

.teamImage {
  width: 20px;
  display: inline;
}

.team {
  display: inline;
  margin-left: 5px;
}

.member {
  margin-left: 5px;
}

.member:first-of-type {
  margin-top: 3px;
}

/* Champion stats styles */

h3 {
  margin-top: 50px;
  text-align: center;
}

.championStats {
  height: 38px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #ffb732;
  border: 1px solid black;
}

.championStats:last-of-type {
  margin-bottom: 100px;
}

.stat {
  margin: 5px;
  padding: 5px;
  width: 100px;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  background-color: #ecebeb;
}

.kda {
  width: 50px;
}

.statImage {
  height: 32px;
  border-radius: 10px;
  margin-left: 3px;
}

.statInfo {
  margin-left: 10px; 
  width: 400px;
  font-size: 16px;
  display: inline-block;
}



.kill {
  color: #00841c;
}

.death {
  color: #c90707;
}

.assist {
  color: #00841c;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
