<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>League Stats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <!-- endbuild -->
  </head>
  <body ng-app="leagueApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class = "wrapper" ng-controller = 'MainCtrl'>
    <div class = "container">

      <div class = "itemToolTip">
              <p class = "itemName">{{itemInfo.name}}</p>
              <p class = "itemDescription" ng-bind-html = "itemInfo.description"></p>
              <p class = "itemText">{{itemInfo.plaintext}}</p>
      </div>


      <form role = "form" ng-submit = "apiCall()">
        <div class = "input-group">
          <input type = "text" class = "form-control" ng-model = "summonerName">
          <span class = "input-group-btn">
            <input value = "Search Summoner" type = "submit" class = "btn btn-primary">
          </span>
        </div>
      </form>
    </div>
   
    <div class = "container main" ng-cloak>



    <div class = "tiers">
      <div ng-repeat = "league in gameInfo[0].leagueInfo" class = "tierInfo">
        <img class = "tierIcon" ng-src = "/images/tier/{{league.tier}}.png">
        <p class = "tierTeam">{{league.entries[0].playerOrTeamName}}
        <p class = "tierWins">{{league.entries[0].wins}} Wins</p>
        <p class = "tierDivision">{{league.tier}} {{league.entries[0].division}} {{league.entries[0].leaguePoints}} LP</p>
        <p class = "tierName">{{league.name}}</p>
      </div>
    </div>

    <div class = "gameSummary hideAtStart">
      <p id = "average">10 Game Average:</p>
      <p class = "summary inline">{{gameInfo.win}} wins / {{gameInfo.lose}} losses</p>
      <p class = "summary inline">{{(gameInfo.win /10)*100}} % win ratio</p> 
      <p class = "summary inline">{{gameInfo.killAverage}} / {{gameInfo.deathAverage}} / {{gameInfo.assistAverage}}</p>
      <p class = "summary inline">{{gameInfo.csAverage}} Creeps</p>
    </div>


     <div class = "match" ng-repeat = "game in gameInfo" style = "background-color: {{game.color}}">
      <div class = "rows">
        <div class = "testRow">
        <div class = "miniRows">       
          <div class = "championGameType">
            <img title = "{{game.champNames}}" class = "championImage" ng-src = "{{game.champImages}}"></img>
            <p class = "gameType">{{game.subType}}</p>
            <p class = "testKDA"><p class = "kill">{{game.stats.championsKilled || 0}}</p> / <p class = "death">{{game.stats.numDeaths || 0}}</p> / <p class = "assist">{{game.stats.assists || 0}}</p></p>
          </div>
          <div class = "summonerSpells">
            <img title = "{{game.spellNames[0]}}" class = "spell" ng-src = "{{game.spellImages[0]}}"></img>
            <img title = "{{game.spellNames[1]}}" class = "spell" ng-src = "{{game.spellImages[1]}}"></img>
          </div>
        </div>
        </div>
        <div class = "miniRows">
        <div class = "itemsContainer">
            <div class = "mainItems">
              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item0)" title = "{{game.stats.item0}}" class = "item" ng-src = "images/item/{{game.stats.item0}}.png"></img>
              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item1)" class = "item" ng-src = "images/item/{{game.stats.item1}}.png"></img>
              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item2)" class = "item" ng-src = "images/item/{{game.stats.item2}}.png"></img>
              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item3)" class = "item" ng-src = "images/item/{{game.stats.item3}}.png"></img>
              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item4)" class = "item" ng-src = "images/item/{{game.stats.item4}}.png"></img>

              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item5)" class = "item" ng-src = "images/item/{{game.stats.item5}}.png"></img>
            </div>
            <div class = "trinketItem">
              <img ng-mouseleave = "itemLeave()" ng-mouseenter = "itemHover($event, game.stats.item6)" class = "trinket" ng-src = "images/item/{{game.stats.item6}}.png"></img>
            </div>
            <div class = "wardInfo">
              <img title = "Wards Placed" class = "wardImage" src = "/images/item/2044.png">
              <p class = "wardText">
                {{game.stats.wardPlaced || 0}}
              </p>
              <img title = "Vision Wards Bought" class = "wardImage" src = "/images/item/2043.png">
              <p class = "wardText">
                {{game.stats.visionWardsBought || 0}}
              </p>
              <img title = "Wards Killed" class = "wardImage" src = "/images/item/3341.png">
              <p class = "wardText">
                {{game.stats.wardKilled || 0}}
              </p>
            </div>
          </div>
        
      
        <div class = "goldInfo">
          <p class = "date">{{game.createDate | date:'MM-dd-yyyy'}}</p>
          <p class = "level"><strong>Level</strong> {{game.stats.level}}</p>
          <p class = "gold">{{game.stats.goldEarned}} <strong>Gold</strong></p>
          <p class = "cs">{{game.stats.minionsKilled + game.stats.neutralMinionsKilled || 0}} <strong>Creeps</strong></p>
        </div>
        </div>
      </div>
      <div class = "rows">
        <div class = "teamInfo">
          <div ng-repeat = "player in game.fellowPlayers.teamChamps track by $index" class = "member">
            <img class = "teamImage" src = "/images/champion/{{player}}.png"></img><p class = "team">{{player}}</p>
          </div>
        </div>
        <div class = "enemyTeamInfo">
          <div ng-repeat = "player in game.fellowPlayers.enemyChamps track by $index" class = "member">
            <img class = "teamImage" ng-src = "/images/champion/{{player}}.png"></img><p class = "team">{{player}}</p>
          </div>
        </div>
        </div>
      </div>

      <h3 class = "hideAtStart">Champion Stats</h3>

      <div class = "championStats" ng-repeat = "champion in arr | orderBy: 'name'" ng-if="champion.name != undefined">
        <a href = "http://leagueoflegends.wikia.com/wiki/{{champion.name}}" target = "_blank"><img title = "{{champion.name}}" class = "statImage" ng-src = "images/champion/{{champion.name}}.png"></img></a>
        <div class = "stat"><p class = "inline">{{champion.stats[0]}} Games</p></div>
        <div class = "stat"><p class = " inline">{{champion.stats[1]}} Win</p></div>
        <div class = "stat"><p class = "inline">{{champion.stats[2]}} Loss</p></div>
        <div class = "stat"><p class = "inline">{{champion.stats[3] | number:1}} CS</p></div>
        <div class = "stat kda"><p class = "inline">{{champion.stats[4] | number:1}} K</p></div>
        <div class = "stat kda"><p class = "inline">{{champion.stats[5] | number:1}} D</p></div>
        <div class = "stat kda"><p class = "inline">{{champion.stats[6] | number:1}} A</p></div>
      </div>
    </div>



      <!-- <div class = "championStats" ng-repeat = "champion in gameInfo.statInfo.champions | orderBy: stats.totalSessionsPlayed" ng-if="champion.id != 0">
        <a href = "http://leagueoflegends.wikia.com/wiki/{{champion.champName}}" target = "_blank"><img title = "{{champion.champName}}" class = "statImage" ng-src = "images/champion/{{champion.champName}}.png"></img></a>
        <div class = "stat"><p class = "inline">{{champion.stats.totalSessionsPlayed}} Games</p></div>
        <div class = "stat"><p class = " inline">{{champion.stats.totalSessionsWon}} Win</p></div>
        <div class = "stat"><p class = "inline"> {{champion.stats.totalSessionsLost}} Loss</p></div>
        <div class = "stat"><p class = "inline">{{champion.stats.totalMinionKills / champion.stats.totalSessionsPlayed | number:1}} CS</p></div>
        <div class = "stat kda"><p class = "inline">{{champion.stats.totalChampionKills / champion.stats.totalSessionsPlayed | number:1}} K</p></div>
        <div class = "stat kda"><p class = "inline">{{champion.stats.totalDeathsPerSession / champion.stats.totalSessionsPlayed | number:1}} D</p></div>
        <div class = "stat kda"><p class = "inline">{{champion.stats.totalAssists / champion.stats.totalSessionsPlayed | number:1}} A</p></div>
      </div> -->
    </div>
  </div>

  <footer>
    League Stats isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
  </footer>


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src ="scripts/spellSelect.js"></script>
        <script src="scripts/champSelect.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
